    table {
        margin: auto;
        width: 80%;
        border:1px solid #795548

    }
    th { 
        align: left
    }
    tr:hover {
        background-color: brown;
        color:white

    }
    {
        color:white;
    }